<!DOCTYPE html>
<html class="mdc-typography">
<head>
  <title>BrainDump</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Kian Mayne">
  <meta name="description" content="BrainDump helps you get your ideas on to a page and play with them.">
  <link rel="icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share|Roboto">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.9/interact.min.js"></script>
  <script src="page.vue.js"></script>
</head>
<body>
  <div id="vueRoot">
    <header class="mdc-toolbar mdc-elevation--z4">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="toolbar-logo-container"><img src="brain.png" class="toolbar-logo"/></span>
          <span class="mdc-toolbar__title page-title">BrainDump</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end mdc-toolbar__section--shrink-to-fit">
          <button class="mdc-toolbar__icon material-icons" alt="Show/hide grid" id="toggle-grid-button" @click="showGrid = !showGrid">{{showGrid ? 'grid_off' : 'grid_on'}}</button>
          <button class="mdc-toolbar__icon material-icons" alt="Select dump" id="view-dumps-button" @click="dumpSelectionDialog.show()">list</button>
        </section>
      </div>
    </header>
    <main class="board mdc-theme--background" id="board" :class="{ 'no-grid': !showGrid }">
      <card-component v-for="(card, id) in cards" :card="card" :id="id" :key="id" :data-card-id="id"
      @delete-card="() => deleteCard(id)"
      @change-card-colour="() => changeCardColour(id)"></card-component>
      <button class="mdc-fab mdc-fab--primary material-icons mdc-ripple-surface" data-mdc-auto-init="MDCRipple" v-on:click='addCard'>
        <span class="mdc-fab__icon">add</span>
      </button>
    </main>
    <aside id="new-dump-dialog" class="new-dump-dialog mdc-dialog" role="alertdialog" aria-labelledby="new-dump-dialog-label" data-mdc-auto-init="MDCDialog">
      <div class="mdc-dialog__surface">
        <section class="mdc-dialog__body">
          <div class="mdc-textfield">
            <input type="text" id="dump-name" name="dump-name" class="mdc-textfield__input" placeholder="Dump name" v-model="newDumpName" required data-mdc-auto-init="MDCTextfield">
          </div>
          <footer class="mdc-dialog__footer">
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Cancel</button>
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Save</button>
          </footer>
        </section>
      </div>
      <div class="mdc-dialog__backdrop"></div>
    </aside>
    <aside id="dump-selection-dialog" class="mdc-dialog" role="alertdialog" aria-labelledby="dump-selection-dialog-label" data-mdc-auto-init="MDCDialog">
      <div class="mdc-dialog__surface">
        <header class="mdc-dialog__header">
          <h2 id="dump-selection-dialog-label" class="mdc-dialog__header__title">
            Select a dump
          </h2>
        </header>
        <section class="mdc-dialog__body">
          <ul class="mdc-list">
            <li class="dump-selection-item mdc-list-item" data-mdc-auto-init="MDCRipple" @click="newDump(); dumpSelectionDialog.close();">
              <i class="material-icons">add</i><span style="margin-left: 5px">New dump</span>
            </li>
            <li class="dump-selection-item mdc-list-item" data-mdc-auto-init="MDCRipple" @click="dumpSelectionDialog.close()">
              {{dumpName}} (Current)
            </li>
            <li v-for="(_, dumpName) in dumps" class="dump-selection-item  mdc-list-item" data-mdc-auto-init="MDCRipple" @click="switchDump(dumpName); dumpSelectionDialog.close();">
              {{dumpName}}
            </li>
          </ul>
        </section>
      </div>
      <div class="mdc-dialog__backdrop"></div>
    </aside>
  </div>
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</body>
</html>
