:root {
      /* Material theme variables */
      --mdc-theme-primary: #2196f3;
      --mdc-theme-secondary: #c6ff00;
      --mdc-theme-accent: #0069c0;
      --mdc-theme-background: #fafafa;
      --mdc-theme-text-primary-on-secondary: #000;
}

html {
  height: 100%;
  width: 100%;
  /*overflow: hidden;
  touch-action: none;*/
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.board {
  flex: 1 1 95%;
  width: 100%;
  position: relative;
}

.card {
  position: absolute;
  top: 10px;
  left: 10px;
  -ms-touch-action: none;
  touch-action: none;
  max-width: 300px;
  background: white;
}

.card:hover {
  cursor: move;
}

.card p[contenteditable] {
  cursor: text;
}

.mdc-fab {
  position: fixed;
  right: 16px;
  bottom: 16px;
}


.card .mdc-card__title {
  font-size: 1.2em;
}

.card.mdc-card {
  transition: box-shadow ease-in-out 0.1s;
}

main.board {
  background: url(grid.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card .delete-icon, .card .delete-icon:visited {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  /*flex-basis: 0;*/
  width: 0;
  /*transition: flex-basis ease-in-out 0.1s;*/
  transition: width ease-in-out 0.1s;
  overflow-x: hidden;

  cursor: pointer;
  color: lightgrey;
}

.card:hover .delete-icon {
  /*flex-basis: 24px;*/
  width: 24px;
}

.delete-icon:hover {
  color: grey;
}

.delete-icon:active {
  color: red;
}

.delete-icon:focus:active {
  outline: none;
}

.card-contents {
  margin: 0.5em;
  display: flex;
}

.card-contents > p {
  margin: 0;
  flex: 1 1;
  padding: 0 5px;
  line-height: 24px;
  overflow-x: auto;
  touch-action: none;
}

.card-contents > i {
  margin: 0;
  flex: 0 0 24px;
  height: 24px;
  touch-action: none;
}

.material-icons {
  user-select: none;
}

.toolbar-logo-container {
  padding: 4px;
}

.toolbar-logo {
  width: 48px;
  margin-left: 12px;
}

.page-title {
  font-family: 'Share', sans-serif;
  font-size: 1.5em;
  margin-left: 12px;
}

.dump-selection-item {
  cursor: pointer;
  width: 100%;
}

.button {
  cursor: pointer;
}
