html {
  height: 100%;
  width: 100%;
  /*overflow: hidden;
  touch-action: none;*/
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.board {
  flex: 1 1 95%;
  width: 100%;
  position: relative;
}

.list {
  position: absolute;
  top: 10px;
  left: 10px;
  -ms-touch-action: none;
  touch-action: none;
  max-width: 300px;
  background: white;
}

.list:hover {
  cursor: move;
}

.list ul {
  list-style: none;
}

.list h1[contenteditable], .list li[contenteditable] {
  cursor: text;
}

.mdc-fab {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.li-add {
  list-style-image: url('ic_add_black_24px.svg');
}

.list .mdc-card__title {
  font-size: 1.2em;
}

.list.mdc-card {
  transition: box-shadow ease-in-out 0.1s;
}

section#board {
  background: url(grid.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.list .delete-icon, .list .delete-icon:visited {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  /*flex-basis: 0;*/
  width: 0;
  /*transition: flex-basis ease-in-out 0.1s;*/
  transition: width ease-in-out 0.1s;
  overflow-x: hidden;

  cursor: pointer;
  color: lightgrey;
}

.list:hover .delete-icon {
  /*flex-basis: 24px;*/
  width: 24px;
}

.delete-icon:hover {
  color: grey;
}

.delete-icon:active {
  color: red;
}

.delete-icon:focus:active {
  outline: none;
}

.card-contents {
  margin: 0.5em;
  display: flex;
}

.card-contents > p {
  margin: 0;
  flex: 1 1;
  padding: 0 5px;
  line-height: 24px;
  overflow-x: auto;
  touch-action: none;
}

.card-contents > i {
  margin: 0;
  flex: 0 0 24px;
  height: 24px;
  touch-action: none;
}

.material-icons {
  user-select: none;
}
